body{
    background-color: black;
}

.Blannk{
    
    height: 50px;
    width: 98.8%;
}


.numbers{
    padding: 20px;
}

.Container{
    margin-top: 50px;
    margin-left: 25%;
    height: 50vh;
    width: 40%;
    background-color: white;
}