body{
    background-color: black;
}

.Blannk{
    height: 50px;
    width: 98%;
}


.numbers {
    background-color: gray;
    display: grid;

    grid-template-columns: repeat(3, 0.3fr);
    

    height: 85%;
    padding: 2px;
}

.num-design{
    background-color: rgb(255, 166, 0);
    border: none;
    height: 60px;
    width: 70px;
    border-radius: 20px;
}

.Container{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 25%;
    height: 50vh;
    width: 20%;
    background-color: white;
}