body{
    background-color: black;
}

.Blannk{
    height: 50px;
    width: 98%;
}


.numbers{
    background-color: gray;

    height: 80%;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    padding-top: 50px;
    padding: 10px;
}

.num-design{
    background-color: rgb(255, 166, 0);
    border: none;
    height: 40px;
    width: 50px;
    border-radius: 20px;
}

.Container{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 25%;
    height: 50vh;
    width: 20%;
    background-color: white;
}