body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 320px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    border-color: #000000;
    border: 1px solid #000000;

    box-shadow: 1px 1px 20px white;
}

.Btn {
    background-color: hsl(211, 100%, 50%);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.Btn:hover {
    background-color: #0056b3;
}

.Ls {
    margin: 0;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.pocket{
    display: grid;
    grid-template-columns: (1,1fr);
    justify-content: center;
}